# playbooks\templates\secrets\basic-auth-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: {{ secret_name }}  # Nombre del Secret (por ejemplo, longhorn-dashboard-auth)
  namespace: {{ namespace_tpl }}  # Namespace donde se creará el Secret
type: Opaque
data:
  users: {{ basic_auth }}  # Aquí deben estar las credenciales en base64