# playbooks/templates/longhorn/longhorn-dashboard-ingressroute-internal.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingressroute-longhorn-internal
  namespace: {{ longhorn_namespace | default("longhorn-system") }}  # Asegúrate de que el namespace esté correctamente configurado
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/component: ingress
    access: internal
    environment: prod
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  entryPoints:
    - websecure  # Usamos websecure para habilitar el tráfico HTTPS
  routes:
    - match: "Host(`{{ domain | default('longhorn.socialdevs.site') }}`) && PathPrefix(`/`)"
      kind: Rule
      middlewares:
        - name: {{ middleware_name | default("longhorn-dashboard-auth") }}  # Middleware de autenticación básica
          namespace: {{ longhorn_namespace | default("longhorn-system") }}  # Namespace para el middleware
      services:
        - name: longhorn-frontend
          port: 80  # Usamos el puerto 80, que es el que está expuesto en el servicio
          scheme: http  # Utilizamos HTTP internamente, ya que TLS se maneja por el IngressRoute
    - match: "Host(`{{ domain | default('longhorn.socialdevs.site') }}`) && PathPrefix(`/dashboard`)"
      kind: Rule
      middlewares:
        - name: {{ middleware_name | default("longhorn-dashboard-auth") }}  # Middleware de autenticación básica
          namespace: {{ longhorn_namespace | default("longhorn-system") }}  # Namespace para el middleware
        - name: strip-prefix-dashboard  # Middleware para quitar el prefijo /dashboard
          namespace: {{ longhorn_namespace | default("longhorn-system") }}  # Namespace para el middleware
      services:
        - name: longhorn-frontend
          port: 80  # Usamos el puerto 80 para que coincida con el servicio de Longhorn
          scheme: http  # Utilizamos HTTP internamente
  tls:
    # Eliminar la línea `secretName` para usar el TLS global
    # secretName: {{ tls_secret_name | default("wildcard-socialdevs-tls") }}  # Eliminar esta línea para usar TLS global
    options:
      name: default@kubernetescrd  # Usamos el TLSStore global configurado para Traefik