# templates/longhorn-dashboard-auth-middleware.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ middleware_name | default("longhorn-dashboard-auth") }}
  namespace: {{ longhorn_namespace | default("longhorn-system") }}  # Namespace por defecto, asegúrate que sea el correcto
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/component: middleware
    access: internal
    environment: prod
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  basicAuth:
    usersSecret: {{ secret_name | default("longhorn-dashboard-auth") }}  # Secret para la autenticación básica
    realm: "Longhorn UI"
    removeHeader: true  # Eliminar la cabecera de autenticación básica para mayor seguridad