# playbooks/templates/longhorn/longhorn-dashboard-ingressroute-internal.yaml.j2
# playbooks/templates/longhorn/longhorn-dashboard-ingressroute-internal.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: ingressroute-longhorn-internal
  namespace: longhorn-system
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/component: ingress
    environment: prod
  annotations:
    created-by: ansible
    maintained-by: devops@socialdevs.site
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ longhorn_dashboard_domain }}`) && PathPrefix(`/`)
      kind: Rule
      services:
        - name: longhorn-frontend
          port: 80
          scheme: http
      middlewares:
        - name: longhorn-dashboard-auth
          namespace: longhorn-system
    - match: Host(`{{ longhorn_dashboard_domain }}`) && PathPrefix(`/dashboard`)
      kind: Rule
      services:
        - name: longhorn-frontend
          port: 80
          scheme: http
      middlewares:
        - name: longhorn-dashboard-auth
          namespace: longhorn-system
        - name: strip-prefix-dashboard
          namespace: longhorn-system
  tls:
    store:
      name: default
      namespace: kube-system