# templates\longhorn\longhorn-tls-secret.yaml.j2
apiVersion: v1
kind: Secret
metadata:
  name: wildcard-socialdevs-tls
  namespace: longhorn-system # <-- IMPORTANTE: debe ser longhorn-system
type: kubernetes.io/tls
data:
  tls.crt: <base64-encoded-cert>
  tls.key: <base64-encoded-key>