# templates\longhorn\strip-prefix-dashboard-middleware.yaml.j2
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: strip-prefix-dashboard
  namespace: {{ longhorn_namespace | default("longhorn-system") }}  # Asegúrate de que el namespace esté correctamente configurado
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/component: middleware
    access: internal
    environment: prod
  annotations:
    maintained-by: devops@socialdevs.site
    created-by: ansible
spec:
  stripPrefix:
    prefixes:
      - "/dashboard"  # Este es el prefijo que se eliminará de la URL