# playbooks/02_ingress-longhorn-internal.yml
#  Exponer Longhorn Dashboard con IngressRoute Interno y Autenticaci贸n
- name:  Exponer Longhorn Dashboard con IngressRoute Interno y Autenticaci贸n
  hosts: localhost
  become: false
  gather_facts: false

  vars_files:
    - ../vars/main.yml

  vars:
    kubeconfig_path: "/home/victory/.kube/config"
    kubectl_path: "/usr/local/bin/kubectl"
    files_dir: "{{ playbook_dir }}/files"
    rendered_auth_middleware_path: "{{ files_dir }}/longhorn-dashboard-auth.yaml"
    rendered_ingressroute_path: "{{ files_dir }}/longhorn-dashboard-ingressroute.yaml"

  tasks:
    #  Renderizar Middleware de autenticaci贸n
    - name:  Renderizar Middleware de autenticaci贸n
      template:
        src: ../templates/longhorn/longhorn-dashboard-auth-middleware.yaml.j2
        dest: "{{ rendered_auth_middleware_path }}"

    #  Renderizar IngressRoute para el Dashboard
    - name:  Renderizar IngressRoute para el Dashboard
      template:
        src: ../templates/longhorn/longhorn-dashboard-ingressroute-internal.yaml.j2
        dest: "{{ rendered_ingressroute_path }}"

    #  Mostrar diff del Middleware (auth) (modo check)
    - name:  Mostrar diff del Middleware (auth) (modo check)
      command: >
        {{ kubectl_path }} --kubeconfig {{ kubeconfig_path }} diff -f "{{ rendered_auth_middleware_path }}"
      when: ansible_check_mode

    #  Aplicar Middleware de autenticaci贸n
    - name:  Aplicar Middleware (auth)
      command: >
        {{ kubectl_path }} --kubeconfig {{ kubeconfig_path }} apply --validate=false -f "{{ rendered_auth_middleware_path }}"
      when: not ansible_check_mode

    #  Mostrar diff del IngressRoute (modo check)
    - name:  Mostrar diff del IngressRoute (modo check)
      command: >
        {{ kubectl_path }} --kubeconfig {{ kubeconfig_path }} diff -f "{{ rendered_ingressroute_path }}"
      when: ansible_check_mode

    #  Aplicar IngressRoute para Longhorn Dashboard
    - name:  Aplicar IngressRoute
      command: >
        {{ kubectl_path }} --kubeconfig {{ kubeconfig_path }} apply --validate=false -f "{{ rendered_ingressroute_path }}"
      when: not ansible_check_mode